      <section class="news-products">
        <div class="container">
          <div class="products">
            <h2 class="title">Новости</h2>
            <div class="products-btn">
              <button class="products-btn-prev">
                <img
                  src="@svgSprite#arrow_left"
                  alt=" "
                  class="products-btns"
                />
              </button>
              <button class="products-btn-next">
                <img
                  src="@svgSprite#arrow_right"
                  class="products-btns"
                  alt=""
                />
              </button>
            </div>
          </div>
          <div class="products-cards">
            <div class="cards cards-border cards-width">
              <a href="#" class="cards-img">
                <img src="../img/news_first.png" />
              </a>
              <div class="card-desc cards-h">
                <span class="card-desc__text">16 июня 2020</span>
                <h5 class="card-desc__title">
                  Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
                </h5>
                <span class="card-desc__text">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</span>
              </div>
              <div class="card-save">
                <button class="card-save__read">
                  <span>Читать</span>
                </button>
              </div>
            </div>
            <div class="cards cards-border cards-width">
              <a href="#" class="cards-img">
                <img src="../img/news_second.png" />
              </a>
              <div class="card-desc cards-h">
                <span class="card-desc__text">16 июня 2020</span>
                <h5 class="card-desc__title">
                  Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
                </h5>
                <span class="card-desc__text">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</span>
              </div>
             <div class="card-save">
                <button class="card-save__read">
                  <span>Читать</span>
                </button>
              </div>
            </div>
            <div class="cards cards-width">
              <a href="#" class="cards-img">
                <img src="../img/news_third.png" />
              </a>
              <div class="card-desc cards-h">
                <span class="card-desc__text">16 июня 2020</span>
                <h5 class="card-desc__title">
                  Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
                </h5>
                <span class="card-desc__text">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</span>
              </div>
              <div class="card-save">
                <button class="card-save__read">
                  <span>Читать</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>