<section class="discount">
        <div class="container">
          <div class="discount-inner">
            <div class="discount-text">
              <p class="discount-text-white">Скидка 200 ₽ при подписке на рассылку Издательства</p>
              <img
                src="../img/search-orange.png"
                alt=""
                class="discount-search-wave"
              />
            </div>
            <form action="#" method="get" class="discount-search search">
              <input
                name="search-disc"
                placeholder="Введите ваш Email"
                type="search"
                class="search-text"
              />
            </form>
            <div class="discount-btn">
              <a href="#" class="discount-btn-link">Подписаться</a>
            </div>
          </div>
        </div>
      </section>