/* mixins */
@import "base/mixins.scss";

/* base */
@import "base/fonts";
@import "base/variables";
@import "base/normalize";
@import "base/typography";
@import "base/default";

/* blocks */
@import "@b/g-select/g-select.scss";
@import "@b/g-input/g-input.scss";
@import "@b/g-checkbox/g-checkbox.scss";
@import "@b/g-button/g-button.scss";
@import "@b/g-radio/g-radio.scss";
@import "@b/header/header.scss";

@import "@b/book-slider/book-slider.scss";
@import "@b/new-book-slider/new-book-slider.scss";
@import "@b/feature-card/feature-card.scss";
@import "@b/footer/footer.scss";
@import "@b/dis-search/dis-search.scss";@import "@b/sel-about/sel-about.scss";

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		font-display: swap;
		src: url("#{$furl}.ttf");
	}
}

$primaryFontFamily: "Gosha Sans", sans-serif;
$secondaryFontFamily: "Montserrat", sans-serif;
$iconFontFamily: "Icons";

@include font(
	"GoshaSans",
	normal,
	100,
	"@fonts/GoshaSans/GoshaSans-Ultralight"
);

@include font(
	"GoshaSans",
	normal,
	200,
	"@fonts/GoshaSans/GoshaSans-ExtraLight"
);
@include font("GoshaSans", normal, 300, "@fonts/GoshaSans/GoshaSans-Light");
@include font("GoshaSans", normal, 400, "@fonts/GoshaSans/GoshaSans-Regular");
@include font("GoshaSans", normal, 500, "@fonts/GoshaSans/GoshaSans-Medium");
@include font("GoshaSans", normal, 600, "@fonts/GoshaSans/GoshaSans-SemiBold");
@include font("GoshaSans", normal, 700, "@fonts/GoshaSans/GoshaSans-Bold");
@include font("GoshaSans", normal, 800, "@fonts/GoshaSans/GoshaSans-ExtraBold");
@include font("GoshaSans", normal, 900, "@fonts/GoshaSans/GoshaSans-Black");

// Custom Icons
@include font("Icons", normal, 400, "@fonts/Icons/icomoon");

.container {
	max-width: 1140px;
	margin: 0 auto;
}
.wrapper {
	@extend %display;
}
body {
	padding: 0;
	margin: 0;
	min-width: 320px;
	background-color: #f9f9fa;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html {
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	-webkit-font-smoothing: antialiased;
}
body {
	// background-image: url(#{$img}/logo.png);
	background-repeat: no-repeat;
}
* {
	padding: 0px;
	margin: 0px;
	border: none;
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

/* Links */

a {
	text-decoration: none;

	&:link,
	&:visited,
	&:hover {
		text-decoration: none;
	}
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul {
	list-style: none;

	li {
		list-style: none;
	}
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input {
	&[type="submit"] {
		display: inline-block;
		box-shadow: none;
		background-color: transparent;
		background: none;
		cursor: pointer;
	}

	&:focus,
	&:active {
		outline: none;
	}
}

button {
	&:focus,
	&:active {
		outline: none;
	}

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
