<section class="feature">
        <div class="container">
          <div class="feature-inner">
            <div class="feature-inner__item">
              <div class="feature-inner__item-inner">
                <div class="feature-inner__item-img">
                  <img
                    src="../img/clock-feat.png"
                    alt=""
                    class="feature-inner__item-inner-img"
                  />
                </div>
              </div>
              <div class="feature-inner__item-in">
                <p class="feature-inner__item-title">Быстрая доставка</p>
                <p class="feature-inner__item-text">
                  Доставим бесплатно от 2000 ₽ по всей России
                </p>
              </div>
            </div>
            <div class="feature-inner__item">
              <div class="feature-inner__item-inner">
                <div class="feature-inner__item-img">
                  <img
                    src="../img/el-card.png"
                    alt=""
                    class="feature-inner__item-inner-img"
                  />
                </div>
              </div>
              <div class="feature-inner__item-in">
                <p class="feature-inner__item-title">Безопасная оплата</p>
                <p class="feature-inner__item-text">
                  Плати безопасно и легко онлайн на нашем сайте.
                </p>
              </div>
            </div>
            <div class="feature-inner__item">
              <div class="feature-inner__item-inner">
                <div class="feature-inner__item-img">
                  <img
                    src="../img/startts.png"
                    alt=""
                    class="feature-inner__item-inner-img"
                  />
                </div>
              </div>
              <div class="feature-inner__item-in">
                <p class="feature-inner__item-title">Бонусная программа</p>
                <p class="feature-inner__item-text">
                  Дополнительная скидка 15% при регистрации
                </p>
              </div>
            </div>
            <div class="feature-inner__item">
              <div class="feature-inner__item-inner">
                <div class="feature-inner__item-img">
                  <img
                    src="../img/paket.png"
                    alt=""
                    class="feature-inner__item-inner-img"
                  />
                </div>
              </div>
              <div class="feature-inner__item-in">
                <p class="feature-inner__item-title">Большой выбор</p>
                <p class="feature-inner__item-text">
                  Ежегодно выходит в свет более 100 книг
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>