.about {
	margin-top: 30px;
	&__inner {
		@extend %display;
		width: 100%;
		flex-wrap: wrap;
		&-item {
			@extend %display;
			flex-direction: column;
			height: 520px;
		}
		&-right {
			width: 320px;
			height: 520px;
			background: white;
			border-radius: 5px;
			padding: 20px 20px 20px 20px;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			&-time {
				width: 100%;
				@extend %display;
			}
			&-img {
				margin-top: 21px;
				align-self: center;
				width: 90%;
				@extend %display-center;
			}
		}
	}
}
.card {
	width: 360px;
	height: 100%;
	border-radius: 5px;
	background-color: $statutWhite;
	padding: 22px 20px 26px 20px;
	&-img {
		@extend %display-center;
		margin: 23px 0 15px 0;
	}
	&-top {
		@extend %display;
		&__book {
			@extend %font-500;
			font-size: 16px;
		}
		&__timer {
			padding: 5px 10px;
			font-size: 12px;
			font-weight: 500;
			color: $statutOrange;
			background: #ff7a0026;
			border-radius: 5px;
		}
	}
	&-desc {
		@extend %display;
		flex-direction: column;
		height: 160px;
		align-items: flex-start;
		&__text {
			font-size: 12px;
			font-weight: 500;
			font-family: Roboto;
			color: #1c294d80;
			line-height: 15px;
		}
		&__title {
			@extend %font-500;
		}
		&__price {
			font-family: Roboto;
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
		}
	}
	&-save {
		width: 196px;
		height: 40px;
		@extend %display;
		&__saved {
			width: 40px;
			border-radius: 5px;
			height: 40px;
			background: white;
			border: 1px solid #eeeeee;
		}
		&__basket {
			width: 146px;
			height: 40px;
			border-radius: 5px;
			@extend %display;
			@extend %font-500;
			padding: 5px 25px;
			border: 1px solid #eeeeee;
			background: white;
		}
		&__read {
			width: 180px;
			height: 40px;
			border: 1px solid rgba(28, 41, 77, 0.15);
			border-radius: 5px;
			@extend %display-center;
			@extend %font-500;
			background: $statutWhite;
		}
	}
}
.slider {
	width: 750px;
	height: 350px;
	border-radius: 5px;
	position: relative;
	background-color: $statutLightGreen;

	&-slide {
		@extend %display-center;
		width: 100%;
		height: 350px;
		border-radius: 5px;
		&__img {
			@extend %display-center;
			flex-direction: column;
			gap: 20px;
			text-align: center;
		}
	}
	&-btn {
		@extend %display;
		position: absolute;
		top: 0;
		width: 100%;
		bottom: 0;
		z-index: 8;
		&__inner {
			display: flex;
			width: 100%;
			justify-content: space-between;
			&-item {
				width: 40px;
				height: 40px;
				border-radius: 5px;
				@extend %display-center;
				background: #ffffffd9;
				&-left {
					margin-left: 20px;
				}
				&-right {
					margin-right: 20px;
				}
			}
		}
	}
}
.blocks {
	border-radius: 5px;
	@extend %display;
	gap: 30px;
	&-left {
		background-color: $statutViolet;
		position: relative;
		border-radius: 5px;
		@extend %display;
		padding: 20px 25px;
		gap: 10px;
		height: 160px;
		width: 360px;
		&-text {
			color: $statutWhite;
			@extend %Gosha-sans;
			z-index: 1;
		}
		&-img {
			height: 100px;
			width: 97px;
		}
		&-wave {
			position: absolute;
			width: 112px;
			left: 17px;
			top: 23px;
		}
	}
	&-right {
		@extend %display;
		background-color: $statutLightPink;
		border-radius: 5px;
		padding: 20px 25px;
		gap: 10px;
		height: 160px;
		position: relative;
		width: 360px;
		&-img {
			width: 40%;
			height: 103px;
		}
		&-text {
			@extend %Gosha-sans;
			z-index: 2;
			color: rgba(28, 41, 77, 0.8);
		}
		&-wave {
			position: absolute;
			width: 112px;
			z-index: 1;
			height: 40px;
			bottom: 35px;
			left: 22px;
		}
	}
}
.blocks-right-wave {
	position: absolute;
	width: 68px;
	z-index: 1;
	height: 32px;
	bottom: 38px;
	left: 42px;
}
.blocks-left-wave {
	position: absolute;
	width: 115px;
	left: 17px;
	top: 44px;
}

.slider-slide {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 350px;
	border-radius: 5px;
  position: relative;
  bottom: 10px;
}
.active_slider {
	background: #ffffff;
  	width: 25px;
	height: 2px;
}
.slider_line {
	width: 25px;
	height: 2px;
	background: #ffffff80;
}
.slider_lines {
    width: 115px;
    display: flex;
    gap: 5px;
    bottom: 10px;
    position: absolute;
    /* align-self: end; */
    align-items: center;
}
@media (max-width: 1500px) {
	.container {
		width: 375px;
		padding: 0 10px;
	}

	.blocks {
		flex-direction: column;
	}
	.about__inner-item {
		height: 100%;
	}
	.slider {
		width: 355px;
		height: 175px;
		margin-bottom: 10px;
	}
	.slider-btn__inner {
		display: none;
	}
	.slider-slide__img {
		flex-direction: column;
		gap: 20px;
		width: 30%;
		text-align: center;
	}
	.slider-slide {
		width: 100%;
		height: 189px;
		border-radius: 5px;
	}
	.blocks-left {
		background-color: #6d378f;
		position: relative;
		border-radius: 5px;
		padding: 20px 20px;
		gap: 10px;
		height: 160px;
		width: 350px;
	}
	.blocks-right {
		background-color: #ffd8ef;
		border-radius: 5px;
		padding: 20px 20px;
		gap: 10px;
		height: 160px;
		position: relative;
		width: 350px;
	}
	.blocks {
		border-radius: 5px;
		gap: 8px;
	}
	.blocks {
		border-radius: 5px;
		gap: 8px;
		position: absolute;
		top: 853px;
	}
	.card {
		width: 355px;
		height: 100%;
		border-radius: 5px;
		background-color: #fff;
		padding: 22px 20px 26px 20px;
	}
    .slider-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: -25px;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
}
}

.slider_button {
	width: 40px;
	height: 40px;
	border: 0;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffffd9;
}
