<section class="about">
	<div class="container">
		<div class="about__inner">
			<div class="about__inner-item">
				<div class="slider">
					<div class="slider-wrapper">
						<div class="slider-slide">
							<div class="slider-slide__img">
								<img src="../img/2=3.png" alt=""/>
								<img src="../img/books.png" alt=""/>
							</div>
							<div class="slider_lines">
								<div class="active_slider"></div>
								<div class="slider_line"></div>
								<div class="slider_line"></div>
								<div class="slider_line"></div>
							</div>

						</div>
					</div>
					<div class="slider-btn">
						<div class="slider-btn__inner">
							<div class="slider-btn__inner-item slider-btn__inner-item-left">
								{% include "@assets/svg/arrow_left.svg" %}
							</div>
							<div class="slider-btn__inner-item slider-btn__inner-item-right">
								{% include "@assets/svg/arrow_right.svg" %}
							</div>
						</div>
					</div>
				</div>
				<div class="blocks">
					<div class="blocks-left">
						<p class="blocks-left-text">
							Бесплатно доставим ваш заказ при покупке от 2000 ₽
						</p>

						<img src="../img/dilivery_img.png" alt="" class="blocks-left-img"/>
						<img src="../img/wave-line.png" alt="" class="blocks-left-wave"/>
					</div>
					<div class="blocks-right">
						<p class="blocks-right-text">
							Скидка
							<br/>при регистрации
							<br/>до 15%
						</p>
						<img src="../img/discount_img.png" alt="" class="blocks-right-img"/>
						<img src="../img/wave-green.png" alt="" class="blocks-right-wave"/>
					</div>
				</div>
			</div>
			<div class="about__inner-item">
				<div class="card">
					<div class="card-top">
						<p class="card-top__book">Книга дня</p>
						<span class="card-top__timer">08:56:31</span>
					</div>
					<div class="card-img">
						<img src="../img/img1.png" alt=""/>
					</div>
					<div class="card-desc">
						<span class="card-desc__text">Корпоративное право</span>
						<h5 class="card-desc__title">
							Инвестирование: способы, риски, субъекты : монография
						</h5>
						<span class="card-desc__text">Майфат А.В.</span>
						<div class="card-desc__price">4 450 ₽</div>
						<div class="card-save">
							<button class="card-save__basket">
								<img src="../img/colored-basket.png" alt="colored basket icon"/>
								<span class="button_text">В корзину</span>
							</button>
							<button class="card-save__saved">
								{% include "@assets/svg/save.svg" %}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
