.footer {
	&-top {
		margin-top: 30px;
		background: rgba(40, 47, 54, 0.04);
		@extend %display;
		&__inner {
			@extend %display;
			padding: 25px 0;
		}
	}
	&-main {
		&__link {
			@extend %display;
			width: 150px;
			height: 40px;
		}
	}
	&-search-btn {
		height: 100%;
		width: 50px;
		position: absolute;
		background: #ff7a00;
		right: 0;
		top: 0;
		border-radius: 0 5px 5px 0;
		@extend %display-center;
	}
	&-search {
		width: 443px;
		border: 1px solid #dfe0e1;
		padding: 10px 15px;
		font-size: 14px;
		height: 40px;
		border-radius: 0 5px 5px 0;
		position: relative;
		&-text {
			@extend %font-400;
			width: 100%;
			line-height: 20px;
		}
	}
	&-bottom {
		background-color: s$statutWhite;
		&__inner {
			@extend %display;
			flex-direction: column;
			align-items: flex-start;
			&-block {
				max-width: 926px;
				&-link {
					color: rgba(28, 41, 77, 0.8);
					font-family: Roboto;
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
				}
			}
			&-item {
				@extend %display;
				padding: 45px 0;
				&-link {
					color: rgba(28, 41, 77, 0.5);
					font-family: Roboto;
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
				}
				&-bloki {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 67px;
					&-inner {
						display: flex;
						gap: 30px;
					}
				}
			}
		}
		&-items {
			@extend %display;
			width: 926px;
			height: 190px;
			align-items: flex-start;
			&__col {
				@extend %display;
				flex-direction: column;
				align-items: flex-start;
				&-title {
					padding-bottom: 24px;
					&-sub {
						font-family: Roboto;
						font-size: 14px;
						font-weight: 500;
						color: rgb(28, 41, 77);
						line-height: 20px;
					}
				}
				&-file {
					display: flex;
					align-items: center;
					gap: 8px;
					&__title {
						color: rgba(40, 47, 54, 0.8);
						font-family: Roboto;
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
					}
					&__text {
						color: rgba(40, 47, 54, 0.5);
						font-family: Roboto;
						font-size: 12px;
						font-weight: 400;
						line-height: 15px;
					}
				}
				&-text {
					@extend %display;
					align-items: flex-start;
					justify-content: space-between;
					flex-direction: column;
					gap: 15px;
					&-link {
						color: rgba(40, 47, 54, 0.8);
						font-family: Roboto;
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
					}
				}
			}
		}
		&__link {
			display: flex;
			align-items: center;
			gap: 5px;
		}
		&__connection {
			display: flex;
			flex-direction: column;
			gap: 19px;
		}
	}
}
.border {
	border-top: 1px solid rgba(40, 47, 54, 0.15);
	justify-content: space-between;
	align-items: center;
	width: 100%;
}.footer_media{
  display: none;
}
.footer-top__inner{
  width: 1140px;
}
@media (max-width: 1500px) {
  body{
    background-color: #292826;
  }.footer_media{
    display: block;
  }
	.footer {
		&-top {
			display: none;
		}
		&-bottom {
			display: none;
		}
	}
	.footer_media {
		display: block;
	}
	.grey_block {
		height: 160px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		background: #eeeff1;
	}
	.cards-h {
		height: 143px;
		padding: 8px 0 20px 0px;
	}
	.social_webs {
		width: 150px;
		display: flex;
		justify-content: space-between;
	}
	.horizontal_line {
		width: 100%;
		height: 1px;
		background: #1c294d26;
	}
	.newsletters_input {
		width: 270px;
		height: 40px;
		background: white;
		border: 1px solid #282f3626;
		border-right: none;
		font-size: 14px;
		padding-left: 15px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.newsletters_section {
		width: 335px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.details {
		padding: 0 20px;
	}
	.summary {
		width: 335px;
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #2a3d4826;
	}
	.margin {
		margin: auto;
		font-size: 14px;
	}
.V2 {
    height: 83px;
    flex-direction: column;
    align-items: start;
    padding: 20px 0;
    color: rgba(28, 41, 77, 0.5019607843);
}
	.justify_start {
		justify-content: left;
		gap: 5px;
	}

.letter_spacing {
    letter-spacing: -0.2px;
}
.grey {
    color: #1C294D80;
}.footer__white-block{
  display: flex;
    width: 355px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}.footer-link{
  color: rgb(28, 41, 77);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 20px;

}
}
