<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="wrapper">
        <div class="header-top__link">
          <div class="header-top__link-img">
            <img
              src="@assets/svg/places.svg"
              alt=""
              class="header-top__link-img-inner"
            />
            <a href="#" class="img-link">Москва</a>
          </div>
          <div class="header-top__link-img">
            <img
              src="@assets/svg/box.svg"
              alt=""
              class="header-top__link-img-inner"
            />
            <a href="#" class="img-link">Доставка и оплата</a>
          </div>
          <div class="header-top__link-img">
            <img
              src="@assets/svg/clock.svg"
              alt=""
              class="header-top__link-img-inner"
            />
            <a href="#" class="img-link">Адрес и часы работы</a>
          </div>
        </div>
        <div class="header-top__connection">
          <div class="header-top__link-img">
            <img
              src="@assets/svg/email.svg"
              alt=""
              class="header-top__link-img-inner"
            />
            <a href="mailto:+7(967)321-22-33" class="img-link"
              >market@estatut.ru</a
            >
          </div>
          <div class="header-top__link-img">
            <img
              src="@assets/svg/tel.svg"
              alt=""
              class="header-top__link-img-inner"
            />
            <a href="tel:+8 (968) 660-65-50" class="img-link"
              >8 (968) 660-65-50</a
            >
            <img src="@assets/svg/i.svg" alt="" class="header-top__link-img-inner" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-main">
    <div class="container">
      <div class="header-main__inner">
        <div class="header-main__inner-item">
          <img src="@assets/svg/logo.svg" alt="" class="header-main__inner-logo" />
          <form action="" method="get" class="search">
            <input
              name="search"
              placeholder="Автор, название, ISBN"
              type="search"
              class="search-text"
            />
            <button type="submit" class="search-btn">
              <img
                src="@assets/svg/lupa.svg"
                alt="loupe"
                class="header-top__link-img-inner"
              />
              <p class="search-btn__text">Искать</p>
            </button>
          </form>
        </div>
        <div class="header-main__inner-block">
          <div class="header-main__link">
            <div class="header-main__link-img">
              <img
                src="@assets/svg/save.svg"
                alt=""
                class="header-top__link-img-inner"
              />
              <a href="#" class="img-link-main">Отложено</a>
            </div>
            <div class="header-main__link-img">
              <img
                src="@assets/svg/smail.svg"
                alt=""
                class="header-top__link-img-inner"
              />
              <a href="#" class="img-link-main">Войти</a>
            </div>
            <div class="header-main__link-img degree">
              <img
                src="@assets/svg/basket.svg"
                class="header-top__link-img-inner"
                alt=""
              />
              <a href="#" class="img-link-main" style="position: relative"
                >Корзина</a
              >
              <div class="degree_back">
                <span>10</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="header-bottom__inner">
        <div class="header-bottom__link-img">
          <img
            src="@assets/svg/line-blue.svg"
            alt=""
            class="header-top__link-img-inner"
          />
          <a href="#" class="blue-link">Каталог</a>
        </div>
        <div class="header-bottom__link-img">
          <a href="#" class="blue-link">Авторы</a>
        </div>
        <div class="header-bottom__link-img">
          <a href="#" class="blue-link">Новинки</a>
        </div>
        <div class="header-bottom__link-img">
          <img
            src="@assets/svg/skidka.svg"
            alt=""
            class="header-top__link-img-inner"
          />
          <a href="#" class="red-link">Скидки</a>
        </div>
        <div class="header-bottom__link-img">
          <a href="#" class="blue-link">Партнёрам</a>
        </div>
        <div class="header-bottom__link-img">
          <a href="#" class="blue-link">Мы</a>
        </div>
      </div>
    </div>
  </div>
</header>
