<section class="product">
	<div class="container">
		<div class="products">
			<h2 class="title">{{title}}</h2>
			<div class="products-btn">
				<button class="products-btn-prev">
					{% include "@assets/svg/arrow_left.svg" %}
				</button>
				<button class="products-btn-next">
					{% include "@assets/svg/arrow_right.svg" %}
				</button>
			</div>
		</div>
		<div class="products-cards">
			<div class="cards cards-border">
				<div class="sticker">
					<span class="sticker-text sticker-purple">Бестселлер</span>
					<span class="sticker-text sticker-red">1+1=3</span>
				</div>
				<a href="#" class="cards-img">
					<img src="../img/img2.png"/>
				</a>
				<div class="card-desc cards-h">
					<span class="card-desc__text">Корпоративное право</span>
					<h5 class="card-desc__title">
						Инвестирование: способы, риски, субъекты : монография
					</h5>
					<span class="card-desc__text">Майфат А.В.</span>
					<div class="card-desc__price">4 450 ₽</div>
				</div>
				<div class="cards-raiting">
					<div class="cards-raiting__star">
						{% include "@assets/svg/star.svg" %}
						<span>4.9</span>
					</div>
					<div class="cards-raiting__like">
						{% include "@assets/svg/like.svg" %}
						<span>89% рекомендуют</span>
					</div>
				</div>
				<div class="card-save">
					<button class="card-save__basket">
						<img src="../img/colored-basket.png" alt="colored basket icon" class="icon"/>
						<span>В корзину</span>
					</button>
					<button class="card-save__saved">
						{% include "@assets/svg/save.svg" %}
					</button>
				</div>
			</div>
			<div class="cards cards-border">
				<div class="sticker">
					<span class="sticker-text sticker-green">Новинки</span>
				</div>
				<a href="#" class="cards-img">
					{% include "@assets/svg/second_card.svg" %}
				</a>
				<div class="card-desc cards-h">
					<span class="card-desc__text">Договорное право</span>
					<h5 class="card-desc__title">
						Договор коммерческой концессии (франчайзинг). Граж...
					</h5>
					<span class="card-desc__text">Багдасарян А.Ф.</span>
					<div class="card-desc__price">372 ₽</div>
				</div>
				<div class="cards-raiting">
					<div class="cards-raiting__star">
						{% include "@assets/svg/star.svg" %}
						<span>4.9</span>
					</div>
					<div class="cards-raiting__like">
						{% include "@assets/svg/like.svg" %}
						<span>89% рекомендуют</span>
					</div>
				</div>
				<div class="card-save">
					<button class="card-save__basket">
						<img src="../img/colored-basket.png" alt="colored basket icon" class="icon"/>
						<span>В корзину</span>
					</button>
					<button class="card-save__saved">
						{% include "@assets/svg/save.svg" %}
					</button>
				</div>
			</div>
			<div class="cards cards-border">
				<a href="#" class="cards-img">
					<img src="../img/third_card.png"/>
				</a>
				<div class="card-desc cards-h">
					<span class="card-desc__text">Договорное право</span>
					<h5 class="card-desc__title">
						Договор коммерческой концессии (франчайзинг). Граж...
					</h5>
					<span class="card-desc__text">Башлаков-Николаев И.В.</span>
					<div class="card-desc__discount">
						<span class="card-desc__price red">984 ₽</span>
						<span class="cards-cross">1 284 ₽</span>
						<span class="cards-green-text">Выгода 300 ₽</span>
						<div class="cards-red"></div>
					</div>
				</div>
				<div class="cards-raiting">
					<div class="cards-raiting__star">
						{% include "@assets/svg/star.svg" %}
						<span>4.9</span>
					</div>
					<div class="cards-raiting__like">
						{% include "@assets/svg/like.svg" %}
						<span>89% рекомендуют</span>
					</div>
				</div>
				<div class="card-save">
					<button class="card-save__basket">
						<img src="../img/colored-basket.png" alt="colored basket icon"/>
						<span class="button_text">В корзину</span>
					</button>
					<button class="card-save__saved">
						{% include "@assets/svg/save.svg" %}
					</button>
				</div>
			</div>
			<div class="cards">
				<div class="sticker">
					<span class="sticker-text sticker-purple">Бестселлер</span>
					<span class="sticker-text sticker-red">1+1=3</span>
				</div>
				<a href="#" class="cards-img">
					<img src="../img/img2.png"/>
				</a>
				<div class="card-desc cards-h">
					<span class="card-desc__text">Корпоративное право</span>
					<h5 class="card-desc__title">
						Инвестирование: способы, риски, субъекты : монография
					</h5>
					<span class="card-desc__text">Майфат А.В.</span>
					<div class="card-desc__price">450 ₽</div>
				</div>
				<div class="cards-raiting">
					<div class="cards-raiting__star">
						{% include "@assets/svg/star.svg" %}
						<span>4.9</span>
					</div>
					<div class="cards-raiting__like">
						{% include "@assets/svg/like.svg" %}
						<span>89% рекомендуют</span>
					</div>
				</div>
				<div class="card-save">
					<button class="card-save__basket">
						<img src="../img/colored-basket.png" alt="colored basket icon"/>
						<span class="button_text">В корзину</span>
					</button>
					<button class="card-save__saved">
						{% include "@assets/svg/save.svg" %}
					</button>
				</div>
			</div>
		</div>
		<div class="products-cards-mobile">
			<div class="cards cards-border">
				<div class="sticker">
					<span class="sticker-text sticker-purple">Бестселлер</span>
					<span class="sticker-text sticker-red">1+1=3</span>
				</div>
				<a href="#" class="cards-img">
					<img src="../img/img2.png"/>
				</a>
				<div class="card-desc cards-h">
					<span class="card-desc__text">Корпоративное право</span>
					<h5 class="card-desc__title">
						Инвестирование: способы, риски, субъекты : монография
					</h5>
					<span class="card-desc__text">Майфат А.В.</span>
					<div class="card-desc__price">4 450 ₽</div>
				</div>
				<div class="cards-raiting">
					<div class="cards-raiting__star">
						{% include "@assets/svg/star.svg" %}
						<span>4.9</span>
					</div>
					<div class="cards-raiting__like">
						{% include "@assets/svg/like.svg" %}
						<span>89% рекомендуют</span>
					</div>
				</div>
				<div class="card-save">
					<button class="card-save__basket">
						<img src="../img/colored-basket.png" alt="colored basket icon" class="icon"/>
						<span>В корзину</span>
					</button>
					<button class="card-save__saved">
						{% include "@assets/svg/save.svg" %}
					</button>
				</div>
			</div>
			<div class="cards">
				<div class="sticker">
					<span class="sticker-text sticker-purple">Бестселлер</span>
					<span class="sticker-text sticker-red">1+1=3</span>
				</div>
				<a href="#" class="cards-img">
					<img src="../img/img2.png"/>
				</a>
				<div class="card-desc cards-h">
					<span class="card-desc__text">Корпоративное право</span>
					<h5 class="card-desc__title">
						Инвестирование: способы, риски, субъекты : монография
					</h5>
					<span class="card-desc__text">Майфат А.В.</span>
					<div class="card-desc__price">450 ₽</div>
				</div>
				<div class="cards-raiting">
					<div class="cards-raiting__star">
						{% include "@assets/svg/star.svg" %}
						<span>4.9</span>
					</div>
					<div class="cards-raiting__color">
						<span>89% рекомендуют</span>
					</div>
				</div>
				<div class="card-save">
					<button class="card-save__basket">
						<img src="../img/colored-basket.png" alt="colored basket icon"/>
						<span class="button_text">В корзину</span>
					</button>
					<button class="card-save__saved">
						{% include "@assets/svg/save.svg" %}
					</button>
				</div>
			</div>
		</div>


		<div class="cards-more">
			<span>Показать все книги раздела</span>
		</div>
	</div>
</section>

