{# <div class="card-save">
                    <button class="card-save__basket">
                      <img
                        src="../img/colored-basket.png"
                        alt="colored basket icon"
                      />
                      <span class="button_text">В корзину</span>
                    </button>
                    <button class="card-save__saved">
                    {% include "@assets/svg/save.svg" %}
                    </button>
                  </div> #}